@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Aluna"]</h3> @*criei esse campo no action do about! no home controller!*@

<p>Use this area to provide additional information.</p>

@* BLOCO C#! O 'arroba abre fecha chaves' (que nem na primeira linha) 
    permite que eu coloque qualquer código c# que eu queira *@
